apiVersion: batch/v1
kind: Job
metadata:
  name: treasure-job-<+pipeline.sequenceId>
  labels:
    app: treasure
spec:
  backoffLimit: 0
  template:
    metadata:
      labels:
        app: treasure
    spec:
      restartPolicy: Never
      containers:
        - name: treasure
          image: luther-stark/harness-ci-demo-treasure:<+pipeline.sequenceId>
          env:
            - name: CROSSROAD      # "left" or "right"
              value: <+pipeline.variables.CROSSROAD>
            - name: LAKE           # "wait" or "swim"
              value: <+pipeline.variables.LAKE>
            - name: DOOR           # "red" | "blue" | "yellow"
              value: <+pipeline.variables.DOOR>
          command: ["/bin/sh","-lc"]
          args:
            - |
              set -e
              # Feed answers (lowercase) to the game via stdin
              printf "%s\n%s\n%s\n" \
                "${CROSSROAD:-left}" \
                "${LAKE:-wait}" \
                "${DOOR:-yellow}" \
              | tr '[:upper:]' '[:lower:]' \
              | python /app/app/treasure.py